 
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #f3ebe7;
}

.static {
  position: sticky;
  width: 100%;
  top: 0;
}

header {
  border-bottom: solid 1px;
  background-color: #f3ebe7;
}
p {
  text-align: center;
  font-size: 20px;
  margin: 5px 100px 5px 100px;
  padding-bottom: 25px;
}
